.trivia .square1, .trivia .square3, .trivia .square5,
.trivia .square2, .trivia .square4, .trivia .square6 {
  position: absolute;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trivia .square1, .trivia .square3, .trivia .square5,
.trivia .square2, .trivia .square4, .trivia .square6 {
  border-radius: 10px;
  height: 175px;
  margin: 100px;
  width: 150px;
  transition: transform 2.5s;
}

/*desktop*/
@media only screen and (min-width: 961px) {
  body {
    grid-template-rows: 205px 10fr 60px;
    background-color: black;
  }

  .Pelicula {
    width: 315px;
    height: auto;
  }
  .Pelicula:hover {
    filter: saturate(180%);
  }

  .Programa, .Juego {
    width: 335px;
    height: auto;
  }
  .Programa:hover, .Juego:hover {
    filter: saturate(180%);
  }

  .svg {
    width: 300px;
    height: auto;
  }

  .control-remoto, .pochoclos, .joystick {
    width: 50px;
  }

  .T-B-1, .A-R {
    width: 1300px;
  }

  .T-B-2 {
    width: 1260px;
  }

  .T-B-3 {
    width: 1385px;
  }

  .Y-N {
    width: 1275px;
  }

  h1 {
    font-size: 30px;
  }

  .video {
    width: 715px;
    height: 315px;
  }
}
/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    grid-template-rows: 190px 1fr 60px;
    background-color: black;
  }

  .one, .two, .three {
    display: flex;
    flex-wrap: wrap;
  }

  .Pelicula, .Programa, .Juego {
    width: 250px;
  }
  .Pelicula:hover, .Programa:hover, .Juego:hover {
    filter: saturate(180%);
  }

  .logo {
    width: 80px;
  }

  .svg {
    width: 250px;
    height: auto;
  }

  .control-remoto, .pochoclos, .joystick {
    width: 50px;
    height: auto;
  }

  .T-B-1, .T-B-2, .A-R {
    width: 500px;
  }

  .T-B-3 {
    width: 550px;
  }

  .Y-N {
    width: 550px;
  }

  .none {
    display: none;
  }

  h1 {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .video {
    width: 415px;
    height: 315px;
  }
}
/*Mobile*/
@media only screen and (max-width: 400px) {
  body {
    grid-template-rows: 190px 1fr 60px;
    background-color: black;
  }

  .one, .two, .three {
    display: flex;
    flex-wrap: wrap;
  }

  .Programa, .Pelicula, .Juego {
    width: 150px;
  }
  .Programa:hover, .Pelicula:hover, .Juego:hover {
    filter: saturate(180%);
  }

  .logo {
    width: 50px;
  }

  .svg {
    width: 150px;
    height: auto;
  }

  .control-remoto, .pochoclos, .joystick {
    display: none;
  }

  .T-B-1 {
    width: 200px;
  }

  .A-R {
    width: 250px;
  }

  .T-B-2 {
    width: 240px;
  }

  .T-B-3 {
    width: 230px;
  }

  .Y-N {
    width: 220px;
  }

  h1, h2 {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #ff8c00;
  font-family: "Bangers", cursive;
  line-height: 1.6;
  letter-spacing: 1.2px;
}
header .p-12 {
  padding: 12px;
}
header .color {
  color: #ff8c00;
}
header .color:hover {
  padding: 10px;
  background-color: #ff8c00;
  color: black;
  transition: 3s;
}
header .size {
  width: 60px;
  height: 54px;
}
header nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
}
header .navLinks {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

footer .margin {
  margin-top: 100px;
}
footer .size {
  width: 60px;
  height: 54px;
}
footer li {
  background-color: #ff8c00;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}
footer a {
  text-decoration: none;
  font-family: "Bangers", cursive;
  font-size: larger;
  line-height: 2.3;
  color: black;
}
footer a:hover {
  padding: 10px;
  background-color: black;
  color: #ff8c00;
}

/*formulario*/
form, label {
  color: #ff8c00;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.form-padre {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-bottom: 40px;
}
.form-padre .form-row {
  width: 600px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-padre .legacy-form-row {
  border: none;
  margin-bottom: 40px;
}
.form-padre .legacy-form-row .legacy-form-row legend {
  margin-bottom: 15px;
}
.form-padre .legacy-form-row .legacy-form-row legend .legacy-form-row input [type=radio] {
  margin-top: 2px;
}
.form-padre .legacy-form-row .legacy-form-row legend .radio-label {
  margin-bottom: 25px;
}
.form-padre textarea {
  resize: none;
}
.form-padre .form-row button {
  width: 60px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #5995da;
  border: none;
  cursor: pointer;
}
.form-padre .form-row button .form-row button:hover {
  background-color: hotpink;
}

html {
  scroll-behavior: smooth;
}

/* grid */
body {
  display: grid;
  grid-template-areas: "header header header" "article article article" "footer footer footer";
  grid-template-columns: 20% 1fr 15%;
  height: 100vh;
  margin: 0;
}

header, footer, article, nav, div {
  padding: 20px;
}

#pageHeader {
  grid-area: header;
}

#pageFooter {
  grid-area: footer;
}

#mainArticle {
  grid-area: article;
}

#siteAds {
  grid-area: ads;
}

/*fin del grid*/
.trivia {
  padding: 40px 50px 60px 30px;
  margin: 40px 0 250px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trivia .square1, .trivia .square3, .trivia .square5,
.trivia .square2, .trivia .square4, .trivia .square6 {
  font-family: "Bangers", cursive;
}
.trivia .square1, .trivia .square2 {
  left: 350px;
}
.trivia .square3, .trivia .square4 {
  left: 550px;
}
.trivia .square5, .trivia .square6 {
  left: 750px;
}
.trivia .square1, .trivia .square3, .trivia .square5 {
  background-color: white;
}
.trivia .square2, .trivia .square4, .trivia .square6 {
  background-color: #ff8c00;
}
.trivia .square2:hover, .trivia .square4:hover, .trivia .square6:hover {
  transform: translate(50px, 251px);
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .trivia .square1, .trivia .square2 {
    left: 5px;
  }
  .trivia .square3, .trivia .square4 {
    left: 160px;
  }
  .trivia .square5, .trivia .square6 {
    left: 315px;
  }
}
@media only screen and (max-width: 400px) {
  .trivia {
    display: none;
  }
}

article .intro {
  margin-top: 50px;
}
article h2 {
  color: #ff8c00;
}
article h3, article p {
  color: #ff8c00;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}
article .one {
  display: flex;
  justify-content: space-around;
  background-color: #ff8c00;
  margin-bottom: 10px;
}
article .two {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  background-color: #ff8c00;
  margin-bottom: 10px;
}
article .three {
  display: flex;
  justify-content: space-around;
  background-color: #ff8c00;
  margin-bottom: 10px;
}
article .Pelicula, article .Programa, article .Juego {
  border-radius: 50px;
}
article .yo {
  border-radius: 10px;
  float: right;
}
article li {
  background-color: #ff8c00;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
