/*desktop*/
@media only screen and (min-width:992px) {
    body {
        grid-template-rows:220px 10fr 75px;
        background-color: $color-secundario;
    }
    .Pelicula {
        width: 325px;
        height: auto;

        &:hover {
            filter: saturate(180%);
        }
    }
    .Programa, .Juego {
        width: 355px;
        height: auto;

        &:hover {
            filter: saturate(180%);
        }
    }
    .svg {
        width: 340px;
        height: auto;
    }
    .control-remoto, .pochoclos, .joystick {
        width: 60px;
        height: auto;
    }
    .T-B-1, .A-R {
        width: 1310px;
        height: auto;
    }
    .T-B-2 {
        width: 1270px;
        height: auto;
    }
    .T-B-3 {
        width: 1395px;
        height: auto;
    }
    .Y-N {
        width: 1285px;
        height: auto;
    }
    h1 {
        font-size: 40px;
    }
    .video {
        width: 725px;
        height: 325px;
    }

}  
/*larger tablet*/ 
@media only screen and (min-width: 768px) and (max-width:991px) {
    body {
        grid-template-rows: 205px 10fr 60px;
        background-color:$color-secundario;
    }
    .Pelicula {
        width: 315px;
        height: auto;

        &:hover {
            filter: saturate(180%);
        }
    }
    .Programa, .Juego {
        width: 335px;
        height: auto;

        &:hover {
            filter: saturate(180%);
        }
    }
    .svg {
        width: 300px;
        height: auto;
    }
    .control-remoto, .pochoclos, .joystick {
        width: 50px;
        height: auto;
    }
    .T-B-1, .A-R {
        width: 1300px;
        height: auto;
    }
    .T-B-2 {
        width: 1260px;
        height: auto;
    }
    .T-B-3 {
        width: 1385px;
        height: auto;
    }
    .Y-N {
        width: 1275px;
        height: auto;
    }
    h1 {
        font-size: 30px;
    }
    .video {
        width: 715px;
        height: 315px;
    }
}

/*tablet/landscape phone*/
@media only screen and (min-width:480px) and (max-width:767px) {
    body {
    grid-template-rows: 190px 1fr 60px;
    background-color:$color-secundario;
    }
    .one, .two, .three {
        display: flex;
        flex-wrap: wrap;
    }
    .Pelicula, .Programa, .Juego {
        width: 250px;
        height: auto;

        &:hover {
            filter: saturate(180%);
        }
    }
    .logo {
        width: 80px;
        height: auto;
    }
    .svg {
        width: 250px;
        height: auto;
    }
    .control-remoto, .pochoclos, .joystick {
        width: 50px;
        height: auto;
    }
    .T-B-1, .T-B-2, .A-R {
        width: 500px;
        height: auto;
    }
    .T-B-3 {
        width: 550px;
        height: auto;
    }
    .Y-N {
        width: 550px;
        height: auto;
    }
    .none {
        display: none;
    }
    h1 {
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .video {
        width: 415px;
        height: 315px;

    }
}

/*Portrait phones*/
@media only screen and (max-width:479px) {
    body {
        grid-template-rows:190px 1fr 60px;
        background-color:$color-secundario;
    }
    .one, .two, .three {
        display: flex;
        flex-wrap: wrap;
    }
    .Programa, .Pelicula, .Juego {
        width: 150px;
        height: auto;

        &:hover {
            filter: saturate(180%);
        }
    }
    .logo {
        width: 50px;
        height: auto;
    }
    .svg {
        width: 150px;
        height: auto;
    }
    .control-remoto, .pochoclos, .joystick {
        display: none;
    }
    .A-R {
        width: 150px;
        height: auto;
    }
    .T-B-1 {
        width: 180px;
        height: auto;
    }
    .T-B-2 {
        width: 160px;
        height: auto;
    }
    .T-B-3 {
        width: 170px;
        height: auto;
    }
    .Y-N {
        width: 220px;
        height: auto;
    }
    h1, h2 {
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
    }
} 


// // X-Small devices (portrait phones, less than 576px)
// // No media query for `xs` since this is the default in Bootstrap

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {  }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }